@import "styles/variables";

.container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px 40px 60px;
}

.questionText {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 60px 0;
}

.answers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 20px;
}

.buttons {
    width: fit-content;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    &:hover {
        color: $color-hover;
    }
}

.next:hover {
    color: $color-hover;
}

.disabled {
    color: grey;
}
